openapi: 3.0.0
info:
  title: Panobi Feature Flag API
  version: '1.0'
  description: OpenAPI spec for Panobi Feature Flags.
servers:
  - url: 'https://panobi.com'
    description: Panobi
paths:
  /integrations/flags-sdk/events/{workspace-id}/{external-id}:
    post:
      summary: Push feature flag events to Panobi
      operationId: post-integrations-flags-sdk-events
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/ResponseError'
        '500':
          $ref: '#/components/responses/ResponseError'
      requestBody:
        description: Change events
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestFlagsSDKChangeEvents'
      parameters:
        - in: header
          schema:
            type: string
          name: X-Panobi-Signature
          description: Signature for the request
          required: true
          example: v0=04927f68e9b82341e00b869aad762c4525c91d2d830afe0e133332c0eb5d0c6e
        - in: header
          schema:
            type: string
          name: X-Panobi-Request-Timestamp
          required: true
          description: Timestamp in unix milliseconds
          example: '1678319603312'
        - in: header
          schema:
            type: string
          name: X-Request-ID
          required: true
          description: UUID for tracking the request
          example: 06e4f4cf-aa09-4e09-ad2b-e8608d540e3b
        - in: path
          schema:
            type: string
          name: workspace-id
          required: true
          description: Workspace ID
          example: '1234567890123456789012'
        - in: path
          schema:
            type: string
          name: external-id
          required: true
          description: External ID
          example: '1234567890123456789012'
components:
  schemas:
    ObjectErrorMessage:
      title: ErrorMessage
      type: object
      properties:
        message:
          type: string
      required:
        - message
    RequestFlagsSDKChangeEvents:
      title: RequestFlagsSDKChangeEvents
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
              key:
                type: string
              dateModified:
                type: string
                format: date-time
              name:
                type: string
              isEnabled:
                type: boolean
            required:
              - project
              - key
              - dateModified
      required:
        - events
      example:
        events:
          - project: growth-team
            key: slackbot-greeting
            isEnabled: true
    ResponseError:
      title: ResponseError
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ObjectErrorMessage'
      required:
        - error
  responses:
    ResponseError:
      description: A standard error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseError'
